<!DOCTYPE html>
<html>

<head>
  <style>
    input[type='radio'] { transform: scale(1.5); }

    .form {
      display: grid;
      grid-template-columns: 120px 120px 120px 120px 120px 120px 120px;
      grid-gap: 5px;
      background-color: white;
      color: #444;
    }

  .box {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 5px;
    font-size: 100%;
  }
  </style>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="https://unpkg.com/wavesurfer.js"></script>
  <script>
    $(function () {
      // collect and submit answers features
      function get_answers() {
//        TODO
//        var elements = $('input[name=radAnswer]:checked');
//        var answers = {};
//        elements.each(function (idx, el) {
//          answers[$(el).parents('div').attr('id')] = $(el).val();
//        });
        var answers = 'TODO';
        return answers
      }

      function send_answers() {
        var answers = get_answers();
        var data = {
          answers: answers,
          page: '{{page}}'
        };
        
        $.ajax({
            url: '{{ url_for('annotator', annotation_task=annotation_task) }}',
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                console.log(data);
                window.location.replace("{{ url_for('annotator', annotation_task=annotation_task) }}"+ "?p={{page+1}}");
            },
            data: JSON.stringify(data)
        });
      }

      $('#submit-button').click(function() {
        send_answers();
      });
    

      // player stuff
      $(".waveform").each(function(){
        // create wavesurfer element
        var track_name = $(this).attr('track-name');
        var wavesurfer = WaveSurfer.create({
          container: this,
          waveColor: 'black',
          progressColor: 'grey',
          barWidth: '1',
          backend: 'MediaElement'
        });

        // add play pause feature
        var play_pause_button = $(this).parent().children('.playPause');
        play_pause_button.on('click', function() {
          wavesurfer.playPause();
        });

        // Toggle play/pause text
        wavesurfer.on('play', function() {
          play_pause_button.find('.play').css("display", "none");
          play_pause_button.find('.pause').css("display", "");
        });
        wavesurfer.on('pause', function() {
          play_pause_button.find('.play').css("display", "");
          play_pause_button.find('.pause').css("display", "none");
        });

        // load track
        wavesurfer.load(track_name);
      });
    });
  </script>
</head>

<body>
  <h1>Task: {{annotation_task}}</h1>
  <h2>You are in page #{{page}}</h2>

  <div id="sound-container">

    <!-- iterate through each sound track -->
    {% for sound_track in sound_tracks %}

      <!-- player -->
      <div style="border-style:solid; border-color:gray; width:1000px;" id="{{sound_track}}">
        <div class="player-container">
          <div class="waveform" track-name="{{sound_track}}"></div>
          <button class="playPause">
            <span class="play">
              Play
            </span>
            <span class="pause" style="display: none">
              Pause
            </span>
          </button>
        </div>
        <br>

        <!-- form -->
        {% include annotation_task + '.html' %}

      </div>
    {% endfor %}
  </div>

  <br>
  <button id="submit-button" style="margin-left:100px; width:150px; height: 100px;">submit</button>
  <br>

</body>

</html>