<form class="form" action="" id="form-{{sound_track}}">
  <div class="box">
    <input type="radio" name="timbre" value="1" checked="1">Bright<br>
    <input type="radio" name="timbre" value="0">Dark
  </div>

  <div class="box">
    <input type="radio" name="tonal_atonal" value="1" checked="1">Tonal<br>
    <input type="radio" name="tonal_atonal" value="0">Atonal
  </div>

  <div class="box">
    <input type="radio" name="voice_instrumental" value="1" checked="1">Voice<br>
    <input type="radio" name="voice_instrumental" value="0">Instrumental
  </div>  

  <div class="box">
    <input type="radio" name="danceability" value="1" checked="1">Danceable<br>
    <input type="radio" name="danceability" value="0">Not danceable
  </div>

  <div class="box">
    <input type="radio" name="gender" value="1" checked="1">Female<br>
    <input type="radio" name="gender" value="0">Male
  </div>

  <div class="box">
    <input type="radio" name="mood_relaxed" value="1" checked="1">Relaxed<br>
    <input type="radio" name="mood_relaxed" value="0">Not relaxed
  </div>
</form>