<form class="form" action="" id="form-{{sound_track}}">
  <div class="box">
    <input type="radio" name="timbre" value="1" checked="1">Bright<br>
    <input type="radio" name="timbre" value="0">Dark
  </div>

  <div class="box">
    <input type="radio" name="tonal_atonal" value="1" checked="1">Tonal<br>
    <input type="radio" name="tonal_atonal" value="0">Atonal
  </div>

  <div class="box">
    <input type="radio" name="danceability" value="1" checked="1">Danceabl<br>
    <input type="radio" name="danceability" value="0">Not dance
  </div>

  <div class="box">
    <input type="radio" name="voice_instrumental" value="1" checked="1">Voice<br>
    <input type="radio" name="voice_instrumental" value="0">Instrum
  </div>

  <div class="box">
    <input type="radio" name="gender" value="2" checked="2">Instrum<br>
    <input type="radio" name="gender" value="1">Female
    <input type="radio" name="gender" value="0">Male
  </div>

</form>