<form class="form" action="" id="form-{{sound_track}}">
  <div class="box">
    <input type="radio" name="sadAnswer" value="1" checked="1">Sad<br>
    <input type="radio" name="sadAnswer" value="0">Not Sad
  </div>

  <div class="box">
    <input type="radio" name="happyAnswer" value="1" checked="1">Happy<br>
    <input type="radio" name="happyAnswer" value="0">Not Happy
  </div>

  <div class="box">
    <input type="radio" name="ex1Answer" value="1" checked="1">Ex1<br>
    <input type="radio" name="ex1Answer" value="0">Not Ex1
  </div>  

  <div class="box">
    <input type="radio" name="ex2Answer" value="1" checked="1">Ex2<br>
    <input type="radio" name="ex2Answer" value="0">Not Ex2
  </div>  
</form>