{% macro mood_form() -%}
<form class="form" action="" id="form-{{sound_track}}">
  <div class="box">
    <input type="radio" name="mood_acoustic" value="1" {{checked(sound_track, "mood_acoustic", "1", default="1")}}>Acoustic<br>
    <input type="radio" name="mood_acoustic" value="0" {{checked(sound_track, "mood_acoustic", "0", default="1")}}>Not acoustic
  </div>

  <div class="box">
    <input type="radio" name="mood_electronic" value="1" {{checked(sound_track, "mood_electronic", "1", default="1")}}>Electronic<br>
    <input type="radio" name="mood_electronic" value="0" {{checked(sound_track, "mood_electronic", "0", default="1")}}>Not electronic
  </div>

  <div class="box">
    <input type="radio" name="mood_aggressive" value="1" {{checked(sound_track, "mood_aggressive", "1", default="1")}}">Aggresive<br>
    <input type="radio" name="mood_aggressive" value="0" {{checked(sound_track, "mood_aggressive", "0", default="1")}}>Not aggresive
  </div>

  <div class="box">
    <input type="radio" name="mood_relaxed" value="1" {{checked(sound_track, "mood_relaxed", "1", default="1")}}>Relaxed<br>
    <input type="radio" name="mood_relaxed" value="0" {{checked(sound_track, "mood_relaxed", "0", default="1")}}>Not relaxed
  </div>

  <div class="box">
    <input type="radio" name="mood_happy" value="1" {{checked(sound_track, "mood_happy", "1", default="1")}}>Happy<br>
    <input type="radio" name="mood_happy" value="0" {{checked(sound_track, "mood_happy", "0", default="1")}}>Not happy
  </div>

  <div class="box">
    <input type="radio" name="mood_sad" value="1" {{checked(sound_track, "mood_sad", "1", default="1")}}>Sad<br>
    <input type="radio" name="mood_sad" value="0" {{checked(sound_track, "mood_sad", "0", default="1")}}>Not sad
  </div>

  <div class="box">
    <input type="radio" name="mood_party" value="1" {{checked(sound_track, "mood_party", "1", default="1")}}>Party<br>
    <input type="radio" name="mood_party" value="0" {{checked(sound_track, "mood_party", "0", default="1")}}>Not party
  </div>
</form>
{%- endmacro %}

<!-- mood tasks -->
{{mood_form()}}
